<%
var taskName = 'task6';
var cssName = 'task6.css';
var modules = [
    {
        caption: 'Zoom In'
    },
    {
        caption: 'Blur'
    },
    {
        caption: 'Gray Scale'
    },
    {
        caption: 'Rotate (+ Zoom In)'
    }
];
%>
<!DOCTYPE html>
<html>
<%- include('../base.ejs', {parts: 'head', page: {taskName: taskName, cssName: cssName}}) %>
<body>
<%- include('../base.ejs', {parts: 'header', page: {taskName: taskName}}) %>
<main id="task6">
    <section id="task6_article-wrap">
        <% modules.forEach(function (moduleData) { %>
            <div class="task6_module">
                <div class="task6_module-bg">
                    <figure>
                        <img src="../img/task6_exeImage.png" alt="サンプル画像">
                        <figcaption><%= moduleData.caption %></figcaption>
                    </figure>
                </div>
            </div>
        <% }); %>
    </section>
</main>
<%- include('../base.ejs', {parts: 'footer'}) %>
</body>
</html>