@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #ccc;
  color: #222;
  font-family: 'Meiryo', 'メイリオ', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'helvetica', 'arial', sans-serif;
}
header, main, footer {
  padding: 30px;
  margin: 0 auto;
}
header {
  color: #fff;
  background-color: #222;
}
footer#cmn-footer {
  position: relative;
  color: #fff;
  background-color: #222;
}
h1 {
  font-size: 3rem;
}
a {
  transition: opacity 0.1s;
}
a:link {
  color: #222;
}
a:hover {
  opacity: 0.5;
}
#copy-ys {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-weight: bold;
}
.required-label {
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
  background-color: #f00;
  color: #fff;
}
/* mockList */
.my-name {
  text-align: right;
}
.url-list dt {
  font-size: 2rem;
}
.url-list dd {
  text-indent: 150px;
}
.url-list dd a {
  transition: opacity 0.1s;
}
.url-list dd a:link {
  color: blue;
}
.url-list dd a:hover {
  opacity: 0.5;
}
