@charset "utf-8";

/* 01 */
.square {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: orange;
    text-align: center;
    line-height: 300px;
    vertical-align: top;
    transition: background 0.1s;
}
#task_01-01 .square:first-child:hover {
    background-color: red;
}
#task_01-02 .square:first-child:hover {
    width: 400px;
    height: 400px;
    line-height: 400px;
}
#task_01-03 .square:first-child {
    transition: all 1.0s;
}
#task_01-03 .square:first-child:hover {
    width: 400px;
    height: 400px;
    line-height: 400px;
}

/* 02 */
.clock {
    width: 400px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock > div {
    font-size: 48px;
}

/* 03 */
#task_03-01 {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
#task_03-01 img {
    width: 800px;
}
.slidegallery {
    width: 2400px;
}
.slidegallery > span {
    font-size: 0;
}
.slidegallery > span > img {
    font-size: 1rem;
    vertical-align: top;
}

/* 04 */

/* 05 */
#zipResult {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
}

/* 06 */
#task_06-01 .list_tab {
    font-size: 0;
}
#task_06-01 .list_tab li {
    display: inline-block;
    font-size: 1rem;
    width: 100px;
    text-align: center;
    background-color: orange;
    border: 1px solid #222;
}
#task_06-01 .list_tab li > a {
    display: block;
    padding: 5px 0;
}

/* 07 */
#map {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 500px;
    margin-top: 20px;
}
#route {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: auto;
    background-color: #fff;
}
#task_07-02 label,
#task_07-02 #routeSearch {
    display: block;
    width: 50%;
    margin: 10px 0;
}
#task_07-02 input[type="search"] {
    width: 83.5%;
}
#task_07-02 hr {
    margin: 20px 0;
    border-color: #222;
}
#task_07-03 #map {
    width: 100%;
}
/* 08 */
#upload-box {
    width: 500px;
    height: 500px;
    background-color: orange;
}
#upload-status > img {
    width: 100px;
    height: 80px;
}
/* 09 */
#task_09-01 label {
    display: block;
}
#task_09-02 label {
    display: block;
    margin: 20px 0;
}
#task_09-02 input {
    width: 200px;
}
#task_09-03 label {
    display: block;
}
#task_09-03 button {
    margin-top: 20px;
}
/* 11 */
#task_11-01 {
    background-color: #f90;
}
#task_11-01 > p {
    text-align: center;
}
#task_11-01 > nav {
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    position: absolute;
    bottom: 50px;
    left: 20px;
}
/* 12 */
#task_12-01 {
    background-color: #f90;
}
#task_12-01 > p {
    text-align: center;
}
#task_12-01 > nav {
    position: absolute;
    top: 156px;
    left: -200px;
    font-size: 0;
    transition: all 0.3s;
}
#task_12-01 > nav ul {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: top;
    font-size: 1rem;
    width: 200px;
}
#task_12-01 #hamburger {
    display: inline-block;
    vertical-align: top;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}
#task_12-01 #hamburger span {
    display: inline-block;
    width: 50px;
    height: 10px;
    margin-top: 10px;
    background-color: #222;
    font-size: 1rem;
}
#task_12-01 #hamburger span:first-child {
    margin-top: 0;
}

/* 13 */
#zodiacSearch {
    margin: 20px 0;
}
#zodiacTable, #operationTable {
    border-collapse: collapse;
}
#zodiacTable th,
#zodiacTable td,
#operationTable th,
#operationTable td {
    border: 1px solid #fff;
    padding: 10px 20px;
}
#zodiacTable tr:hover {
    background-color: #f90;
}
#zodiacTable .zodiacRemoveBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
